# File: base.html
# Author: Jordan Yin (jordany@bu.edu), 09/23/2026
# Description: Master template establishing the core HTML layout, 
# stylesheet imports, header, and site navigation bar that other views extend using template blocks.

{% load static %}

<html>
  <head>
    <title>Hot Pancakes</title>
    <link rel="stylesheet" href="{% static 'restaurant_styles.css' %}">
  </head>

  <body>
    <h1>Hot Pancakes</h1>
    
    <nav>
      <ul>
          <li><a href="{% url 'restaurant_main' %}">Main Page</a></li>
          <li><a href="{% url 'restaurant_order' %}">Order</a></li>
      </ul>
    </nav>

    {% block content %}

    {% endblock %}
  </body>

</html>