# File: base.html
# Author: Jordan Yin (jordany@bu.edu), 09/23/2026
# Description: main.html template that extends base.html to render the restaurant's home page featuring the main heading, tagline, and hero image.

{% extends 'restaurant/base.html'%}
{% block content %}

<div id="main">
  <h2>Best Breakfast in Texas</h2>
  <p> Start Your Day with Deliciousness! </p>
  <img src="https://lh3.googleusercontent.com/gps-cs-s/AHRPTWnnPAUSV6hSLumu92Kor4493zHNa23Jps0pa9UzSI3FzKPt9BRmmXbBnuc8xYEkwQOlKx0-ZpO8Y0EpS7Max9S4Mdhb_AfHOLl4GI7gDvHaMgdZLUhVZBXv9rI0WgIi2-vLdaXIaA=s1360-w1360-h1020-rw">
</div>

{% endblock %}