{% extends 'quotes/base.html' %}
{% block content %}

<div>
  <h2>About</h2>
  
  <p>Welcome to the Quote of the Day application!</p>
  
  <p>
      This application displays quotes by and images of 
      <a href="https://en.wikipedia.org/wiki/Chadwick_Boseman" target="_blank">Chadwick Boseman</a>.
  </p>
  
  <p>
      Chadwick Boseman was a notable actor best known for playing <a href="https://en.wikipedia.org/wiki/Black_Panther_(film)" target="_blank">Black Panther</a> in the Marvel Cinematic Universe. Chadwick brought dignity, purpose, and deep cultural representation in ever role he played.
  </p>

  <p>
      However, he sadly passed away on August 28, 2020, at the age of 43 from complications related to colon cancer. 
      Many of the quotes are from his Howard University 2018 Commencement Speech and would encourage you to give it a watch!
  </p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/RIHZypMyQ2s?si=z9X5CRS3La_ZbDoA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

{% endblock %}