<!-- File: show_profile.html
Author: Jordan Yin (jordany@bu.edu), 09/27/2026
Description: Template that extends base.html to display detailed profile information for a specific Instagram user. -->

{% extends 'mini_insta/base.html' %}

{% block content %}
  <div>
    <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
    <p>{{profile.username}}</p>
    <p>{{profile.display_name}}</p>
    <p>{{profile.bio_text}}</p>
    <p>{{profile.join_date}}</p>
  </div>
{% endblock %}