<!-- File: show_all_profiles.html
Author: Jordan Yin (jordany@bu.edu), 09/27/2026
Description: Template that extends base.html to display a grid of all registered Instagram user profiles linking to their detail pages. -->

{% extends 'mini_insta/base.html' %}
<h1>Showing all profiles</h1>

{% block content %}
<main class="grid-container">
    {% for p in profiles %}
    <a href="{% url 'show_profile' p.pk %}">
      <div id="show_all_profile_container">
          <img src="{{p.profile_image_url}}" alt="{{p.profile_image_url}}">
          <p id="show_all_username">@{{p.username}}</p>
          <p>{{p.display_name}}</p>
      </div>
    </a>
    {% endfor %}
</main>
{% endblock %}